/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@font-face{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>; /* 100-900 */
    font-style: normal; /* normal - italic */
}

:root {
    --white: #fff;
    --light-brown: #F2EFE9;
    --med-brown: #D9D7CC;
    --brown: #594D3E;
    --med-gray: #555;
    --box-shadow: -0.5rem 0.5rem 1rem var(--med-gray);
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: "Montserrat", sans-serif;
    background-color: var(--light-brown);
    scroll-behavior: smooth;
}

body{
    line-height: 1.6;
}

main{
    margin: auto;
}

h1{
    font-size: 2em;
    font-weight: 500;
}

h2{
    font-size: 2em;
    font-weight: 500;
}

h3{
    font-size: 1.25em;
    font-weight: 200;
}

p{
    font-size: 1.5em;
    font-weight: 200;
}

.light-text{
    font-weight: 100;
    font-size: .9em;
    font-style: italic;
}

.skip-link{
    position: absolute;
    display: none;
}

.to-top{
    background-color: var(--brown);
    position: fixed;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: var(--white);
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
    margin-bottom: 16px;
    z-index: 999;
}

.to-top.active{
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}


.hero-container{
    position: relative;
    color: var(--white);
}

.hero-img{
    background-image: url(img/img_1920.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    width: 100%;
    display: block;
}

.hero-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

header{
    width: 100%;
    position: absolute;
    color: var(--white);
    z-index: 1;
    height: 7.3rem;
    font-weight: 100;
}

nav{
    display: flex;
    justify-content: space-between;
}

.nav-child{
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.nav-child img{
    width: 150px;
    padding: 10px 0px 0px 20px;
}

.nav-child a{
    text-decoration: none;
    margin: 1rem;
    color: var(--white);
}

.nav-child a:hover{
    border-bottom: 2px solid var(--light-brown)
}

.nav-child li{
    font-size: 1.5em;
    margin: 1rem;
    margin-right: 2rem;
}

.nav-child i{
    font-size: 2rem;
    margin-right: 1rem;
}

.icon-container i{
    font-size: 3em;
    margin: 1rem;
    margin-right: 30px;

}

#overlay{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
}

.overlay-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 2em;
}

.overlay-text a{
    display: block;
    color: var(--white);
    text-decoration: none;
    padding: 1rem;
    transition: all 200ms ease-in-out;
}

.fa-times{
    font-size: 6rem;
    color: var(--brown);
    padding: 1rem;
}

.icon-container{
    text-align: right;
}

i:hover{
    cursor: pointer;
}

.container{
    background-color: var(--med-brown);
    color: var(--brown);
    display: grid;
    justify-items: center;
}


section{
    padding: 120px 50px;
}

.intro-text{
    padding: 15px 0;
}

.intro h1{
    font-size: 3rem;
    text-align: center;
    font-weight: 200;
    padding-bottom: 35px;
    margin-top: -25px;
}

.intro-text h2{
    margin: 12px 0;
}


.intro img{
    width: 100%;
    height:440px;
    object-fit: cover;
    object-position: center;
    display: block;
    margin: auto;
}

.container a{
    background-color: var(--brown);
    color: var(--light-brown);
    width: fit-content;
    text-decoration: none;
    margin: auto;
    border-radius: 1.7rem;
    font-weight: 100;
    padding: 10px 30px;
    display: block;
    margin-top: 3rem;
    font-size: 1.5em;
    letter-spacing: .1rem;
    transition: .3s ease-in-out;
}

.container a:hover{
    -webkit-transform: scale(1.05);
	transform: scale(1.05);
}

br{
    display: block;
    content: "";
    margin: 28px;
}

.carousel{
    padding-top: 100px;
}

.carousel h1{
    font-size: 3rem;
    text-align: center;
    font-weight: 200;
    padding-bottom: 85px;
    color: var(--brown);
}

.slider{
    min-width: 320px;
    max-width: 1024px;
    height: 100vh;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.list{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    display: flex;
    width: max-content;
    transition: 1s;
}

.list img{
    width: 100vw;
    max-width: 1024px;
    height: 100vh;
    object-fit: cover;
}

.button{
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.button button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff5;
    border: none;
    color: var(--white);
    font-family: monospace;
    font-weight: bold;
}

.dots{
    position: absolute;
    bottom: 10px;
    color: var(--white);
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: var(--white);
    margin: 20px;
    border-radius: 20px;
    transition: 1s;
}

.dots li.active{
    width: 30px;
}

.img-container{
    display: grid;
    justify-content: center;
}

.img-container h1{
    color: var(--brown);
    font-size: 3rem;
    text-align: center;
    font-weight: 200;
    padding-bottom: 15px;
    margin-top: -10px;
}

.img-gallery img{
    height:360px;
    object-fit: cover;
    object-position: center;
    border-radius: 5rem;
    box-shadow: var(--box-shadow);
    margin: 50px 25px;
}


.img-gallery-1:hover, .img-gallery-2:hover, .img-gallery-3:hover, .img-gallery-4:hover{
    -webkit-transform: scale(1.05);
	transform: scale(1.05);
}

.img-gallery h2{
    color: var(--brown);
    width: fit-content;
    margin: auto;
    padding: 0 30px 0 30px;
    display: block;
    font-size: 2.2rem;
}



.social-media-section{
    background-color: var(--med-brown);
    color: var(--brown);
}

.social-media-section h1{
    display: block;
    font-weight: 100;
    margin-top: -40px;
    padding-bottom: 50px;
    text-align: center;
}

.link-img img{
    width: 160px;
    height: 180px;
    object-fit: cover;
    object-position: center;
}

.link-img{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap: 1.8rem .8rem;
    justify-content: center;
    padding: 0 25px;
    place-items: center;
}

footer{
    background-color: var(--brown);
    color: var(--light-brown);
    text-align: center;
    padding-top: -80px;
}

footer img{
    width: 220px;
}

.foot-ul{
    font-size: 2em;
    letter-spacing: .1em;
}

.foot-ul ul li{
    padding-block: 15px;
}

.footer-container a{
    text-decoration: none;
    font-weight: 100;
    color: var(--light-brown);
}

.footer-container a:hover{
    font-weight: 600;
}

.social-icon i{
    font-size: 3.5rem;
    padding: 0 20px;
    transition: .3s ease-in-out;
}

.social-icon i:hover{
    -webkit-transform: scale(1.05);
	transform: scale(1.05);
}

hr{
    display: none;
}

/*
Contact Page CSS
*/

.contact-container{
    background-color: var(--med-brown);
    color: var(--brown);
    display: grid;
    justify-items: center;
}

.contact-text{
    padding: 15px 0 35px 0;
    text-align: left;
}

.contact-text .light-text{
    text-align: left;
}

.contact-container .strong-text{
    font-weight: 500;
}

.contact-container h1{
    font-size: 1.4rem;
    font-weight: 100;
    margin-top: 25px;
}

.intro-text h2{
    margin: 12px 0;
}

.contact-form-container{
    background-color: var(--brown);
    display: grid;
    justify-items: center;
}

.contact-form-info{
    background-color: var(--light-brown);
    color: var(--brown);
    text-align: center;
    margin-top: -55px;
}
.contact-form-info h1{
    font-size: 2.8rem;
    font-weight: 600;
    padding-bottom: 10px;
}

.contact-form-info p{
    font-size: 1.3rem;
    padding-bottom: 40px;
    padding-top: 15px;
}

.contact-form{
    color: var(--light-brown);
    width: 100%;
    padding-top: 35px;
}

#mySubmit{
    width:fit-content;
    text-align: center;
    margin: auto;
    background-color: var(--light-brown);
    color: var(--brown);
    border-radius: 1.7rem;
    font-weight: 100;
    padding: 15px 45px;
    display: block;
    margin-top: 3rem;
    font-size: 1.5em;
    transition: .3s ease-in-out;
  }

  #mySubmit:hover{
    -webkit-transform: scale(1.05);
	transform: scale(1.05);
}
  
  span{
    font-weight: 600;
    color: red;
    padding-left: 3px;
  }


.contact-container img{
    width: 100%;
    height:440px;
    object-fit: cover;
    object-position: center;
    display: block;
    margin: auto;
}

label, input{
    display: block;
    padding: 7px 0;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 200;
    margin: auto;
  }

  input{
    outline: none;
    background-color: transparent;
    color: var(--light-brown);
    border: 1px solid var(--brown);
    border-bottom: 4px solid var(--light-brown);
    margin-bottom: 20px;
  }
/*
  input:focus{
    background-color: transparent;
    border: 1px solid var(--brown);
    border-bottom: 4px solid var(--light-brown);
  }
    */




@media screen and (min-width:480px) {
    .intro img{
        width: 100%;
        max-width: 500px;
        height:480px;
    }

    .light-text{
        text-align: right;
    }

    .intro-text h3{
        margin: 0 20px;
        font-size: 1.5rem;
    }

    .intro-text{
        max-width: 500px;
    }
    .img-gallery img{
        width: 70vw;
        max-width: 500px;
        height: auto;
        max-height: 500px;
    }

    .link-img img{
        width: 100%;
        max-width: 300px;
        height: 100%;
        max-height: 360px;
    }

    /* contact page */

    .contact-container img{
        width: 100%;
        max-width: 500px;
        height:480px;
    }

    .contact-text{
        max-width: 500px;
    }

    label, input{
        width: 100%;
        max-width: 500px;
        font-size: 1.5rem;
      }

}

@media screen and (min-width:768px) {

    .nav-child i{
        display: none;
    }

    .img-gallery{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.8rem .8rem;
        place-items: center;
        margin: 0;
    }

    .img-gallery img{
        width: 40vw;
        max-width: 380px;
        height: auto;
    }

    .link-img {
        display: flex;
    }

    .link-img img{
        max-width: 300px;
    }

    footer ul{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 1024px;
        margin: auto;
    }

    hr{
        display: block;
        width: 80vw;
        max-width: 1024px;
        margin: auto;
        height: 2px;
        background-color: var(--light-brown);
    }

    .intro-text{
        padding: 15px 0;
    }
    
    .intro h1{
        font-size: 3.5rem;
    }
    
    .intro-text h2{
        margin: 18px 0;
        font-size: 2.6em;
    }

    .intro-text h3{
        font-size: 1.6em;
    }
    .container a{
        padding: 15px 35px;
        margin-top: 3.5rem;
        font-size: 1.75em;
    }

    .carousel h1{
        font-size: 3.5rem;
    }

    .img-container h1{
        font-size: 3.5rem;
    }
    
    .social-media-section h1{
        font-size: 2.5rem;
    }
}

@media screen and (max-width:767px) {

    .nav-child a{
        display: none;
    }
}

@media screen and (min-width:1024px) {
    .intro{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 4rem;
    }

    .intro h1{
        padding-bottom: 5px;
    }
    
    .intro img{
        width: 90%;
        height:540px;
    }

    .about-me{
        grid-column: 1/-1;
    }

    .img-gallery{
        gap: 2.5rem 1rem;
    }

    .img-gallery img{
        width: 40vw;
        max-width: 460px;
    }

    /* Conatact */

    .contact-container{
        grid-template-columns: 1fr 1fr;
    }

    .contact-form-container{
        grid-template-columns: 1fr 1fr;
    }

}
