/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@font-face{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>; /* 100-900 */
    font-style: normal; /* normal - italic */
}

:root {
    --white: #fff;
    --light-brown: #F2EFE9;
    --med-brown: #D9D7CC;
    --brown: #594D3E;
    --med-gray: #555;
    --box-shadow: -0.5rem 0.5rem 1rem var(--med-gray);
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: "Montserrat", sans-serif;
    background-color: var(--light-brown);
    scroll-behavior: smooth;
}

body{
    line-height: 1.6;
}

main{
    margin: auto;
}

h1{
    font-size: 2em;
    font-weight: 500;
}

h2{
    font-size: 2em;
    font-weight: 500;
}

p{
    font-size: 1.5em;
    font-weight: 200;
}

.light-text{
    font-weight: 100;
    font-size: .9em;
    font-style: italic;
}

.skip-link{
    position: absolute;
    display: none;
}

.to-top{
    background-color: var(--brown);
    position: fixed;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: var(--white);
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
    margin-bottom: 16px;
}

.to-top.active{
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}


.hero-container{
    position: relative;
    color: var(--white);
}

.hero-img{
    background-image: url(img/img_1920.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    width: 100%;
    display: block;
}

.hero-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

header{
    width: 100%;
    position: absolute;
    color: var(--white);
    z-index: 1;
    height: 6rem;
    font-weight: 100;
}

nav{
    display: flex;
    justify-content: space-between;
}

.nav-child{
    display: flex;
    align-items: center;
}

.nav-child img{
    width: 150px;
    padding: 10px 0px 0px 20px;
}

.nav-child a{
    text-decoration: none;
    margin: 1rem;
    color: var(--white);
}

.nav-child a:hover{
    border-bottom: 2px solid var(--light-brown)
}

.nav-child li{
    font-size: 1.5em;
    margin: 1rem;
    margin-right: 2rem;
}

.nav-child i{
    font-size: 2rem;
    margin: 1rem;
}

.icon-container i{
    font-size: 3em;
    margin: 1rem;
    margin-right: 8rem;

}

#overlay{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
}

.overlay-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay-text a{
    display: block;
    color: var(--white);
    text-decoration: none;
    padding: 1rem;
    transition: all 200ms ease-in-out;
}

.fa-times{
    font-size: 6rem;
    color: var(--brown);
    padding: 1rem;
}

.icon-container{
    text-align: right;
}

i:hover{
    cursor: pointer;
}

.container{
    background-color: var(--med-brown);
    color: var(--brown);
    display: grid;
    justify-items: center;
}


section{
    padding: 120px 50px;
}

.intro-text{
    padding: 15px 0;
}

.intro h1{
    font-size: 3rem;
    text-align: center;
    font-weight: 200;
    padding-bottom: 35px;
    margin-top: -25px;
}

.intro-text h2{
    margin: 12px 0;
}


.intro img{
    width: 100%;
    height:440px;
    object-fit: cover;
    object-position: center;
    display: block;
    margin: auto;
}

.container a{
    background-color: var(--brown);
    color: var(--light-brown);
    width: fit-content;
    text-decoration: none;
    margin: auto;
    border-radius: 1.7rem;
    font-weight: 100;
    padding: 10px 30px;
    display: block;
    margin-top: 3rem;
    font-size: 1.5em;
    letter-spacing: .1rem;
}

br{
    display: block;
    content: "";
    margin: 28px;
}

.slider{
    min-width: 320px;
    max-width: 100vh;
    height: 100vh;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.list{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    width: max-content;
    transition: 1s;
}

.list img{
    width: 1300px;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
}

.button{
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.button button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff5;
    border: none;
    color: var(--white);
    font-family: monospace;
    font-weight: bold;
}

.dots{
    position: absolute;
    bottom: 10px;
    color: var(--white);
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: var(--white);
    margin: 20px;
    border-radius: 20px;
    transition: 1s;
}

.dots li.active{
    width: 30px;
}

.img-container{
    display: grid;
    justify-content: center;
}

.img-container h1{
    color: var(--brown);
    font-size: 3rem;
    text-align: center;
    font-weight: 200;
    padding-bottom: 15px;
    margin-top: -10px;
}

.img-gallery img{
    height:360px;
    object-fit: cover;
    object-position: center;
    border-radius: 5rem;
    box-shadow: var(--box-shadow);
    margin: 50px 25px;
}

.img-gallery h2{
    color: var(--brown);
    width: fit-content;
    margin: auto;
    padding: 0 30px 0 30px;
    display: block;
    font-size: 2.2rem;
}

.social-media-section{
    background-color: var(--med-brown);
    color: var(--brown);
}

.social-media-section h1{
    display: block;
    font-weight: 100;
    margin-top: -40px;
    padding-bottom: 50px;
    text-align: center;
}

.link-img img{
    width: 160px;
    height: 180px;
    object-fit: cover;
    object-position: center;
}

.link-img{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap: 1.8rem .8rem;
    justify-content: center;
    padding: 0 25px;
    place-items: center;
}

footer{
    background-color: var(--brown);
    color: var(--light-brown);
    text-align: center;
    padding-top: -80px;
}

.foot-ul{
    font-size: 2em;
    letter-spacing: .1em;
}

.foot-ul ul li{
    padding-block: 15px;
}

.footer-container a{
    text-decoration: none;
    color: var(--light-brown);
}
.social-icon i{
    font-size: 3.5rem;
    padding: 0 20px;
}

/*
nav{
    font-size: 24px;
    display: flex;
    background-color: transparent;
    position: absolute;
    z-index: 10;
}

nav ul{
    list-style: none;
    display: flex;
    margin-right: 6em;
}

nav .nav-logo{
    flex: 1;
    padding: 20px 0px 10px 95px;
}

nav li{
    padding: 2em 2em;
}

nav a{
    display: flex;
    text-decoration: none;
    color: var(--brown);
    transition: all 250ms;
}

nav a:hover{
    border-bottom: 2px solid var(--brown);
}

#open-sidebar-btn{
    display: none;
    background: none;
    border: none;
    padding: 1em;
    margin-left: auto;
    cursor: pointer;
}

#close-sidebar-btn{
    display: none;
    background: none;
    border: none;
    padding: 1em;
    cursor: pointer;
}

#overlay{
    position: fixed;
    inset: 0;
    z-index: 9;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}

body{
    background-image: url(get_1920.jpg);
    height: 100vh;
    object-fit: cover;
}
*/



@media screen and (min-width:480px) {
    .intro img{
        width: 100%;
        max-width: 500px;
        height:480px;
    }

    .intro-text{
        max-width: 500px;
    }
    .img-gallery img{
        width: 70vw;
        max-width: 500px;
        height: auto;
        max-width: 500px;
    }


    .link-img img{
        width: 100%;
        max-width: 300px;
        height: 100%;
        max-height: 360px;
    }

}

@media screen and (min-width:768px) {
    
}

@media screen and (min-width:768px) {

    .nav-child i{
        display: none;
    }
    
}

@media screen and (max-width:768px) {

    .nav-child a{
        display: none;
    }





    /*
    #open-sidebar-btn, #close-sidebar-btn{
        display: block;
    }

    nav{
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        width: min(15em, 100%);
        z-index: 10;
        border-left: 1px solid black;
        transition: right 300ms ease-out;
        background-color: var(--light-brown) ;
    }

    nav.show{
        right: 0;
    }

    nav.show ~ #overlay{
        display: block;
    }

    nav .nav-logo{
        display: none;
    }

    nav ul{
        width: 100%;
        flex-direction: column;
    }

    nav a{
        width: 100%;
        padding-left: 2.5em;
    }
        */
}

